In [3]:
import pymysql

import findspark
import pyspark
from pyspark.sql import SparkSession


from pyspark.ml.recommendation import ALS

from pyspark.ml.evaluation import RegressionEvaluator

from pyspark.sql import SQLContext
from pyspark import SparkContext, SparkConf
import numpy as np

import os
import sys
import pickle
import itertools
from math import sqrt
from operator import add
from os.path import join, isfile, dirname
from pyspark import SparkContext, SparkConf, SQLContext
from pyspark.sql.types import StructType, StructField, StringType, FloatType

In [4]:
findspark.init("/usr/lib/spark")

#spark = SparkSession.builder.appName('final').getOrCreate()

In [1]:
spark

In [6]:
#mysql --host=104.154.165.159 --user=root --password=1111
host ='104.154.165.159'
user = 'root'
passwd = '1111'
db = 'spark'
db = pymysql.connect(host=host, port=3306, user=user, passwd=passwd, db=db)
cur = db.cursor()


cur.execute('show tables')
result = cur.fetchall()
print(result)


cur.execute('use spark')
cur.execute('select userId, movieId,rating from rating limit 6')
result = cur.fetchall()
print(result)
type(result)

(('rating',), ('test',))
((0, 0, 0), (1, 2, 4), (1, 29, 4), (1, 32, 4), (1, 47, 4), (1, 50, 4))

tuple

cur.execute('create table test (movieId int,imdbId int,rating int,tmdbId int) ')

In [7]:
conf = SparkConf().setAppName('final')
sc = SparkContext(conf=conf)
sqlContext = SQLContext(sc)

In [ ]:
query = "(select * from rating limit) as tmp "

In [ ]:
sqlContext.read.format("jdbc").options(
url ="jdbc:mysql://104.154.165.159:3306/spark",
driver="com.mysql.jdbc.Driver",
dbtable='test',
user="root",
password="1111"
).load().take(5)

In [ ]:
sc.